In [1]:
# numeric data types

num = 7
type(num)

int

In [2]:
print(num,"is of type", type(num))

7 is of type <class 'int'>

In [3]:
num = 10.8
type(num)

float

In [4]:
num = -10.7
type(num)

float

In [5]:
num = 9 + 6j
type(num)

complex

In [6]:
num.real

9.0

In [7]:
num.imag

6.0

In [8]:
num = 7.8
b =int(num)
print(b)
print(type(num))
print(type(b))

7
<class 'float'>
<class 'int'>

In [9]:
num = -90.5
print(type(num))
print(int(num))

<class 'float'>
-90

In [10]:
c = float(b)
print(c)

7.0

In [11]:
#Boolean data types
r = True
type(r)

bool

In [12]:
#string data types

str1 = "Python programming"
str2 = "satya nayak"
print(str1)
print(str2)

Python programming
satya nayak

In [14]:
str1[0:5]

'Pytho'

In [15]:
str2.find("y")

3

In [17]:
# List data types
split1 = "This,is,orange"
l1 = split1.split(",")
print(l1)

['This', 'is', 'orange']

In [18]:
type(split1)
type(l1)

list

In [19]:
type(split1)

str

In [20]:
List1 = ["India","1","Bulgaria"]
print(List1)

['India', '1', 'Bulgaria']

In [21]:
type(List1)

list

In [22]:
List2 = ["Usa","2"]
List1 += List2
print(List1)

['India', '1', 'Bulgaria', 'Usa', '2']

In [25]:
#tuple data type

tup1=('a','b','c','d')
print(tup1)
type(tup1)

('a', 'b', 'c', 'd')

tuple

In [26]:
# mapping data types - dictionary

dict1 = {1:'Lion',2:'Tiger',3:'Bear'}
print(dict1)

{1: 'Lion', 2: 'Tiger', 3: 'Bear'}

In [27]:
len(dict1)

3

In [6]:
#snake case

first_name = "Satya"
Last_name = "Nayak"
print(first_name)
print(Last_name)

Satya
Nayak

In [2]:
#set data types

set1 = {1,2,3,4,5,5}
print(set1)

{1, 2, 3, 4, 5}

In [3]:
type(set1)

set

In [4]:
set2 = {'a','b',2,4}
print(set1 | set2)

{1, 2, 3, 4, 5, 'b', 'a'}

In [5]:
#range data types

x = range(4)
print(x)

range(0, 4)

In [6]:
type(x)

range

In [7]:
#binary data types

x = b"Hello world"
print(x)

b'Hello world'

In [8]:
type(x)

bytes

In [9]:
x[4]

111

In [10]:
s = "Satya is from India"
type(s)

str

In [12]:
l = list(s)
print(l)

['S', 'a', 't', 'y', 'a', ' ', 'i', 's', ' ', 'f', 'r', 'o', 'm', ' ', 'I', 'n', 'd', 'i', 'a']

In [13]:
type(l)

list

In [16]:
l1 = [14,4,0,5,7,7,0]
print(l1)

[14, 4, 0, 5, 7, 7, 0]

In [17]:
s = set(l1)
print(s)

{0, 4, 5, 7, 14}

In [18]:
type(s)

set